@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.message-bubble {
  position: relative;
  display: inline-block;
  max-width: 80%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sent::after {
  border-color:  transparent transparent transparent; /* Matches the bubble color */
  margin-left: auto; /* Aligns the sent messages to the right */
}
